# Auto-detect text files and perform LF normalization
* text=auto

# Custom mappings
*.tf text eol=lf
*.tfvars text eol=lf
*.hcl text eol=lf
*.sh text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.scss text eol=lf

# Lock files
pnpm-lock.yaml binary
package-lock.json binary
yarn.lock binary